// element = color background-color border-color hover-color hover-background-color hover-border-color

c-body  = #000 #fff
c-links = #000

c-navbar = null #333
c-navbar-links = #f5f5f5 null transparent #3ECCFF null #3ECCFF
