.navbar
  row()
  colors c-navbar
  list-style-type none
  li.right
    margin-left auto
  li > a
    colors c-navbar-links
    display block
    padding 20px 30px
    margin 0px 1px
    border-style solid
    border-width 0 0 3px 0
