colors(cs)
  if cs[0]
    color cs[0]
  if cs[1]
    background-color cs[1]
  if cs[2]
    border-color cs[2]
  &:hover
    if cs[3]
      color cs[3]
    if cs[4]
      background-color cs[4]
    if cs[5]
      border-color cs[5]
